<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center" class="text-white">Our Team</h2>
<div class="row" style="text-align: center;">
  <div class="column">
    <div class="card">
      <img src="../../../../assets/aniket.jpg" alt="Aniket" style="width:100%">
      <div class="container">
        <h2>Aniket Churihar</h2>
        <p class="title">CEO & Founder</p>
        <p>Passionate and Hard Working</p>
        <p>aniket.churihar@infobeans.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../../assets/chris.jpg" alt="chris" style="width:100%">
      <div class="container">
        <h2>chris hemsworth</h2>
        <p class="title">Art Director</p>
        <p>Junior Artist</p>
        <p>chris_hemsworth@yopmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../../assets/chrisEvans.jpg"  alt="Evans" style="width:100%">
      <div class="container">
        <h2>Chris Evans</h2>
        <p class="title">Designer</p>
        <p>Colleague</p>
        <p>chrisEvans@infobeans.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
